#page-teacher-list {
  width: 100vw;
  height: 100vh;
}

#search-teachers {
  margin-top: 2.4rem;
}

#search-teachers label {
  color: var(--color-text-in-primary);
}

#page-teacher-list main {
  margin: -3.2rem auto 3.2rem auto;
  width: 90%;
}

#page-teacher-list main > p {
  max-width: 26rem;
  text-align: center;
  margin: 12rem auto;
  color: var(--color-text-complement);
}

#search-teachers .select-block + .input-block {
  margin-top: 1.4rem;
}

@media (min-width: 700px) {
  #page-teacher-list {
    max-width: 100%;
  }

  #search-teachers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
    position: absolute;
    bottom: -24px;
  }

  #search-teachers .input-block + .input-block,
  #search-teachers .select-block + .input-block,
  #search-teachers .select-block + .select-block {
    margin-top: 0;
  }

  #page-teacher-list main {
    margin: 4.25rem auto;
    max-width: 740px;
  }
}
